<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ByteBlaze</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add your custom styles here */
        body {
            padding-top: 56px;
        }
        .jumbotron {
            background-color: #343a40;
            color: #ffffff;
        }
    </style>
</head>
<body>

<!-- Navigation Bar -->
{% include "navbar.html"%}

<!-- Hero Section -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to ByteBlaze</h1>
        <p class="lead">Exploring the Intersection of Finance and Technology</p>
    </div>
</div>

<!-- Content Section -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Latest Articles</h2>
            <!-- Add your blog article snippets here -->
        </div>
        <div class="col-md-4">
            <h2>About ByteBlaze</h2>
            <p>
                Welcome to ByteBlaze, where finance meets the cutting edge of technology.
                Dive into a world of insightful articles exploring the dynamic interplay
                between financial markets and technological advancements. ByteBlaze is 
                your go-to destination for thought-provoking content, expert analysis, 
                and the latest trends in the realms of finance and tech. Join us on this
                journey as we decode complexities, ignite discussions, and pave the way
                for a digital future. Stay informed, stay inspired with ByteBlaze.
                </p>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
