{% extends "blog_post.html" %}

{% block article%}
This is list page
<section>
    {% for post in objects %}
        <article>
            <h4>
                <span>
                    <a href="{{ post.get_retrieve_url}}" > {{ post.title }}</a>   
                </span>
            </h4>
            
            <!-- <h8>
                <span>   
                    <a href="{{ post.get_edit_url}}">Edit</a>
                </span>
                
                <span>
                    <a href="{{ post.get_delete_url}}">Delete</a>
                </span>
            </h8> -->
        </article>
    {% endfor %}
</section>

<!-- {% for object in objects%}
    <a href="blogs/{{object.slug}}"><li> {{object.title}}</li></a>
{% endfor %} -->

{% endblock%}